{"openapi":"3.1.0","info":{"title":"오늘안부 API","description":"오늘안부 서비스의 REST API 명세입니다.","version":"v1"},"servers":[{"url":"https://duty-checker.guegue.dev","description":"Production"},{"url":"http://localhost:8080","description":"Local (8080)"},{"url":"http://localhost:8081","description":"Local (8081)"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Connection","description":"연결(안부 대상) 관리 API"},{"name":"User","description":"사용자 정보 API"},{"name":"Auth","description":"인증/인가 API"},{"name":"CheckIn","description":"안부 확인(체크인) API"},{"name":"Health","description":"서버 상태 확인 API"}],"paths":{"/api/v1/users/logout":{"post":{"tags":["User"],"summary":"로그아웃","description":"현재 사용자의 Refresh Token을 무효화하여 로그아웃 처리합니다.","operationId":"logout","responses":{"200":{"description":"로그아웃 성공"},"401":{"description":"인증되지 않은 요청"}},"security":[{"BearerAuth":[]}]}},"/api/v1/connections":{"get":{"tags":["Connection"],"summary":"연결 목록 조회","description":"로그인한 사용자의 모든 연결 목록을 조회합니다.","operationId":"getConnections","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetConnectionsRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetConnectionsRespDto"}}}}},"security":[{"BearerAuth":[]}]},"post":{"tags":["Connection"],"summary":"연결 신청","description":"전화번호로 안부를 주고받을 상대방에게 연결을 신청합니다. 당사자/보호자 모두 신청 가능하며, 상대방이 수락해야 CONNECTED가 됩니다. 동일 역할 간 연결은 불가합니다.","operationId":"addConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddConnectionReqDto"}}},"required":true},"responses":{"201":{"description":"연결 신청 성공 (PENDING)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddConnectionRespDto"}}}},"400":{"description":"동일 역할 간 연결 시도","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddConnectionRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddConnectionRespDto"}}}},"404":{"description":"대상 사용자가 미가입","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddConnectionRespDto"}}}},"409":{"description":"이미 연결 요청이 존재함","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddConnectionRespDto"}}}}},"security":[{"BearerAuth":[]}]}},"/api/v1/check-ins":{"post":{"tags":["CheckIn"],"summary":"체크인 생성","description":"오늘의 안부를 알립니다. 당일 중복 체크인은 허용되지 않습니다.","operationId":"createCheckIn","responses":{"201":{"description":"체크인 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCheckInRespDto"}}}},"400":{"description":"당일 이미 체크인 완료","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCheckInRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCheckInRespDto"}}}}},"security":[{"BearerAuth":[]}]}},"/api/v1/auth/verify-code":{"post":{"tags":["Auth"],"summary":"인증 코드 검증","description":"발송된 SMS 인증 코드의 유효성을 검증합니다.","operationId":"verifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeReqDto"}}},"required":true},"responses":{"204":{"description":"인증 코드 검증 성공"},"400":{"description":"인증 코드 불일치 또는 만료"},"429":{"description":"인증 시도 횟수 초과"}}}},"/api/v1/auth/send-code":{"post":{"tags":["Auth"],"summary":"인증 코드 발송","description":"입력한 전화번호로 SMS 인증 코드를 발송합니다.","operationId":"sendCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendCodeReqDto"}}},"required":true},"responses":{"200":{"description":"인증 코드 발송 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendCodeRespDto"}}}},"400":{"description":"잘못된 요청 (유효하지 않은 전화번호 형식 등)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendCodeRespDto"}}}},"429":{"description":"재발송 대기 시간 미경과","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendCodeRespDto"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["Auth"],"summary":"회원가입","description":"전화번호로 신규 회원을 등록합니다.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterReqDto"}}},"required":true},"responses":{"201":{"description":"회원가입 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterRespDto"}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterRespDto"}}}},"409":{"description":"이미 가입된 전화번호","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterRespDto"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth"],"summary":"토큰 갱신","description":"Refresh Token을 사용하여 새로운 Access Token을 발급합니다.","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenReqDto"}}},"required":true},"responses":{"200":{"description":"토큰 갱신 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshTokenRespDto"}}}},"401":{"description":"유효하지 않거나 만료된 Refresh Token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshTokenRespDto"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth"],"summary":"로그인","description":"전화번호와 비밀번호로 로그인하여 JWT 토큰을 발급받습니다.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginReqDto"}}},"required":true},"responses":{"200":{"description":"로그인 성공 (Access Token, Refresh Token 발급)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginRespDto"}}}},"401":{"description":"전화번호 또는 비밀번호 불일치","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginRespDto"}}}}}}},"/api/v1/users/device-token":{"patch":{"tags":["User"],"summary":"FCM 디바이스 토큰 업데이트","description":"푸시 알림 수신을 위한 FCM 디바이스 토큰을 등록하거나 갱신합니다.","operationId":"updateDeviceToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceTokenReqDto"}}},"required":true},"responses":{"200":{"description":"토큰 업데이트 성공"},"400":{"description":"잘못된 요청"},"401":{"description":"인증되지 않은 요청"}},"security":[{"BearerAuth":[]}]}},"/api/v1/connections/{id}/status":{"patch":{"tags":["Connection"],"summary":"연결 수락/거절","description":"연결 신청을 받은 상대방이 수락하거나 거절합니다. 신청자 본인은 호출할 수 없으며, PENDING 상태인 경우에만 처리 가능합니다.","operationId":"updateConnectionStatus","parameters":[{"name":"id","in":"path","description":"연결 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusReqDto"}}},"required":true},"responses":{"200":{"description":"처리 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}},"400":{"description":"유효하지 않은 status 값 (CONNECTED 또는 REJECTED만 허용)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}},"403":{"description":"신청자 본인이 호출","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}},"404":{"description":"존재하지 않는 연결 ID","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}},"409":{"description":"이미 처리된 연결 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionStatusRespDto"}}}}},"security":[{"BearerAuth":[]}]}},"/api/v1/connections/{id}/name":{"patch":{"tags":["Connection"],"summary":"연결 이름 수정","description":"특정 연결 대상의 표시 이름을 변경합니다.","operationId":"updateConnectionName","parameters":[{"name":"id","in":"path","description":"연결 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameReqDto"}}},"required":true},"responses":{"200":{"description":"이름 수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameRespDto"}}}},"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameRespDto"}}}},"403":{"description":"본인 소유의 연결이 아님","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameRespDto"}}}},"404":{"description":"연결을 찾을 수 없음","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateConnectionNameRespDto"}}}}},"security":[{"BearerAuth":[]}]}},"/health":{"get":{"tags":["Health"],"summary":"헬스 체크","description":"서버가 정상적으로 동작 중인지 확인합니다.","operationId":"health","responses":{"200":{"description":"서버 정상","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/check-ins/latest":{"get":{"tags":["CheckIn"],"summary":"최근 체크인 조회","description":"로그인한 사용자의 가장 최근 체크인 기록을 조회합니다.","operationId":"getLatestCheckIn","responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLatestCheckInRespDto"}}}},"401":{"description":"인증되지 않은 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLatestCheckInRespDto"}}}}},"security":[{"BearerAuth":[]}]}},"/api/v1/auth/check-phone":{"get":{"tags":["Auth"],"summary":"전화번호 가입 여부 확인","description":"전화번호로 이미 가입된 사용자인지 확인합니다.","operationId":"checkPhone","parameters":[{"name":"phone","in":"query","description":"확인할 전화번호 (숫자 10~11자리, 예: 01012345678)","required":true,"schema":{"type":"string","pattern":"^01[0-9]{8,9}$"}}],"responses":{"200":{"description":"조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckPhoneRespDto"}}}},"400":{"description":"유효하지 않은 전화번호 형식","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckPhoneRespDto"}}}}}}},"/api/v1/users/me":{"delete":{"tags":["User"],"summary":"회원탈퇴","description":"현재 사용자의 계정을 탈퇴 처리합니다. 연결된 Connection과 CheckIn 데이터가 삭제되며 복구할 수 없습니다.","operationId":"withdraw","responses":{"204":{"description":"회원탈퇴 성공"},"401":{"description":"인증되지 않은 요청"},"404":{"description":"사용자를 찾을 수 없음"}},"security":[{"BearerAuth":[]}]}},"/api/v1/connections/{id}":{"delete":{"tags":["Connection"],"summary":"관계 삭제","description":"연결된 보호자 또는 당사자와의 관계를 삭제합니다. 본인이 subject 또는 guardian으로 참여한 연결만 삭제 가능합니다.","operationId":"deleteConnection","parameters":[{"name":"id","in":"path","description":"삭제할 연결 관계 ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"삭제 성공"},"401":{"description":"인증되지 않은 요청"},"403":{"description":"본인과 관련된 연결이 아님"},"404":{"description":"존재하지 않는 연결 ID"}},"security":[{"BearerAuth":[]}]}}},"components":{"schemas":{"AddConnectionReqDto":{"type":"object","properties":{"targetPhone":{"type":"string","minLength":1,"pattern":"^\\d{11}$"},"name":{"type":"string","maxLength":20,"minLength":0}}},"AddConnectionRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"phone":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["PENDING","CONNECTED","REJECTED"]}}},"CreateCheckInRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"checkedAt":{"type":"string","format":"date-time"},"status":{"type":"string"}}},"VerifyCodeReqDto":{"type":"object","properties":{"phone":{"type":"string","minLength":1,"pattern":"^01[0-9]{8,9}$"},"verificationCode":{"type":"string","minLength":1}}},"SendCodeReqDto":{"type":"object","properties":{"phone":{"type":"string","minLength":1,"pattern":"^01[0-9]{8,9}$"}}},"SendCodeRespDto":{"type":"object","properties":{"expiredAt":{"type":"string","format":"date-time"}}},"RegisterReqDto":{"type":"object","properties":{"phone":{"type":"string","minLength":1,"pattern":"^01[0-9]{8,9}$"},"password":{"type":"string","minLength":1},"role":{"type":"string","enum":["SUBJECT","GUARDIAN"]}},"required":["role"]},"RegisterRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"phone":{"type":"string"},"role":{"type":"string","enum":["SUBJECT","GUARDIAN"]}}},"RefreshTokenReqDto":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}}},"RefreshTokenRespDto":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}},"LoginReqDto":{"type":"object","properties":{"phone":{"type":"string","minLength":1,"pattern":"^01[0-9]{8,9}$"},"password":{"type":"string","minLength":1}}},"LoginRespDto":{"type":"object","properties":{"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"user":{"$ref":"#/components/schemas/UserInfo"}}},"UserInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"phone":{"type":"string"},"role":{"type":"string","enum":["SUBJECT","GUARDIAN"]}}},"UpdateDeviceTokenReqDto":{"type":"object","properties":{"fcmToken":{"type":"string","minLength":1}}},"UpdateConnectionStatusReqDto":{"type":"object","properties":{"status":{"type":"string","minLength":1}}},"UpdateConnectionStatusRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","CONNECTED","REJECTED"]}}},"UpdateConnectionNameReqDto":{"type":"object","properties":{"name":{"type":"string","maxLength":20,"minLength":0}}},"UpdateConnectionNameRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"phone":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["PENDING","CONNECTED","REJECTED"]}}},"ConnectionItemDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"phone":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["PENDING","CONNECTED","REJECTED"]},"latestCheckedAt":{"type":"string","format":"date-time"},"isTodayChecked":{"type":"boolean"}}},"GetConnectionsRespDto":{"type":"object","properties":{"role":{"type":"string","enum":["SUBJECT","GUARDIAN"]},"connections":{"type":"array","items":{"$ref":"#/components/schemas/ConnectionItemDto"}}}},"GetLatestCheckInRespDto":{"type":"object","properties":{"latestCheckedAt":{"type":"string","format":"date-time"},"todayChecked":{"type":"boolean"}}},"CheckPhoneRespDto":{"type":"object","properties":{"exists":{"type":"boolean"}}}},"securitySchemes":{"BearerAuth":{"type":"http","name":"BearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}